a:visited {
         background-color:transparent;
         color: #000;
         text-decoration: none;
}

a:link {
	color:#000;
	text-decoration: none;
}

a:hover {
         color:#000;
         text-decoration:underline;
}

body {
	font-size: 75%;
	font-family: Sans-Serif;
	color: #000;
	background-color: #c9c9c9;
}

#middle{
	width:40%;
	margin-left: auto;
	margin-right: auto;
//	border:4px solid white;
	float:none;
}


#top{
	width:60%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
//	border:4px solid yellow;
	clear:both;
	overflow:hidden;
}
.footer{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}


#left{
	float:left;
}

#right{
	float:right;
}

.avi{
	font-size:40px;
	color:blue;
	width:40%;
	height:60px;
//	border:3px solid blue;
}
.links{
	margin-right:0;
	height:60px;
	width:40%;
	text-align:right;
	text-vertical-align:middle;
	color:#a5a5a5;
}
.links a:link{
	color:#a5a5a5;
}

.intro{
	width:60%;
	margin:auto;
	height:20px;
	vertical-align:middle;
}

.content{
	width:80%;
	margin:auto;
}

.content a:link{
	color:#00F;
}

#doc{
	width:30%;
	margin-left:auto;
	margin-right:auto;
}
#doc a:link{
	color:#00F;
}

// Table and rows:
table.main{
}
.icon{
	vertical-align:middle;
}
.text{
	font-size: 10px;
	height: 30px;
	vertical-align:middle;
}
.date{
	padding-right: 20px;
	color:#a5a5a5;
	font-size:7pt;
}


label {
	width: 20em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	font-family:sans-serif;
	display: block
}

.submit input{
	margin-left:26em;
}

#message-body{
	width:75em;
}

img{
	border: none;
}
